/*<div class="bgrd"><img src="galry/bgrd.jpg" class="bgrd"></div>*/
/*<script src="lightbox-plus-jquery.js"></script>
        <div class="enq">     
        <form action="https://formsubmit.co/2005choudharysimran@gmail.com" method="POST"/>
            <h5 id="5th"></h5>
            <h1>ENQUIRE NOW!</h1>
            <input type="text" id="name" placeholder="Your Name" required>
            <input type="Email" id="email" placeholder="Email ID" required>
            <input type="text" id="phone" placeholder="Phone No." required>
            <input type="text" id="bill" placeholder="Monthly Bill" required>
            <textarea id="Message" rows="4" placeholder="How Can We Help You?"></textarea>
            <button type="submit">Submit</button>
        </div>*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 95px;
    background: #11101b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100 px;
}
.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.slider{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}
#slideImg{
    width: 100%;
    height: 100%;
}

.logo{
    width: 120px;
    cursor: pointer;
}
.hdngjk{
    text-align: center;
    color: aliceblue;
    padding-top:20px;
    margin-left: 250px;
}
.hdngjk h1{
    font-size: 50px;
    font-family: 'Bona Nova', serif;
}
.lbar{
    width: 95%;
    margin:35px auto;
    padding: 5px 0;
    display: flex;}
.lbar img{
    height: 80px;
    width: 15vh;
    border-radius: 50%;
    border:10px;

}
#mb{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 50px;
    top: 20px;
    z-index: 3;
    cursor: pointer;
}
#mb img{
    width: 20px;
    margin-top: 15px;
}
#navbar{
    width:250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #009688;
    z-index: 2;
    transition: 0.5s;
    
}
nav ul li{
    list-style: none;
    margin: 20px 20px;
}
.nav ul li a{
    text-decoration: none;
    color: aliceblue;
}
nav ul li a{
    display: inline-block;
    color: aliceblue;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
nav ul li a:hover{
    color: #11101b;
    background: #fefefe;
}
nav ul li a.active{
    color: #11101b;
    background: #fefefe;
}
.content{
   width: 100%;
   position: absolute;
    text-align: center;
    top:80%;
    transform: translateY(-50%);
    text-align: center;
    
}
.content h3{
    font-size: 60px;
    font-family: 'Akaya Kanadaka', cursive;
    color:aliceblue;
    text-shadow: 0 0 10px crimson,
     0 0 10px crimson,
     0 0 20px crimson,
     0 0 40px crimson,
     0 0 80px crimson,
     0 0 120px crimson;
}
.content h1{
    font-size: 40px;
    margin-top: 90px;
    font-family: 'Akaya Kanadaka', cursive;
    color:aliceblue;
    text-shadow: 0 0 10px #020f0f,
     0 0 10px #020f0f,
     0 0 20px #020f0f,
     0 0 40px #020f0f,
     0 0 80px #020f0f,
     0 0 120px #020f0f;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family: 'Akaya Kanadaka', cursive;
}
.content h2{
    font-size: 50px;
    margin-top: auto;
    font-family: 'Dancing Script', cursive;
    color:aliceblue;
    text-shadow: 0 0 10px rgb(255, 98, 0),
     0 0 10px rgb(255, 98, 0),
     0 0 20px rgb(255, 98, 0),
     0 0 40px rgb(255, 98, 0),
     0 0 80px rgb(255, 98, 0),
     0 0 120px rgb(255, 98, 0);
}
.icon{
    position: absolute;
    top: -30%;
    left: 0%;
    display:flex;
    flex-direction: column;
}
.icon a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    font-size: 22px;
    font-family: 'Oswald' , sans-serif;
    text-align: right;
    border-radius: 0px 50px 50px 0px;
    transform: translate(-133px, 0px);
    transition: all 1s;
}
.icon a:hover{
    transform: translate(0px,0px);
}
.icon a i{
    margin-left: 20px;
    background-color: white;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}
.call{
    background-color: coral;
    color:forestgreen;
}
.whatsapp{
    background-color:darkolivegreen;
    color:chartreuse;
}
.maps{
    background-color: burlywood;
    color: brown;
}
.mail{
    background-color:darkgray;
    color:crimson;
}
.vdo{
    width: 80%;
    position: absolute;
    left: 5%;
    top: 120%;
}
.slr{
   text-align: center;
    color:blue;
    padding-top:20px;
    margin-left: 600px;    
}
.slr h1{font-family: 'Edu NSW ACT Foundation', cursive;}
.slr h2{font-family: 'Edu NSW ACT Foundation', cursive;}
.info{
    display: flex;
    justify-content:right;
}
.iinfo{
    background-color:antiquewhite;
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}
.img{
    background-color: aqua;
    height: 10px;
    margin-bottom: 15px;
    background-size:cover;
    border-radius: 20px 20px 0px 0px;
}
.iinfo h1{
    font-family: 'Dancing Script', cursive;
    font-size: 25;
    color: crimson;
}
.iinfo h2{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 19;
    color:blue;
}
.iinfo h3{
    font-family: 'Inter', sans-serif;
    font-size: 17;
    color:black;
}
.container{
    width: 800px;
    height: 500px;
    margin: 110px auto;
    background-color:coral;
    position: relative;
}
.bg{
width: 100%;
    height: 100vh;
    
    position: absolute;
    top: 1100;
}
.bgg{
    width: 100%;
    height: 100%
}
.container h1{
    text-align: center;
    font-size: 15;
    font-family: 'Inter', sans-serif;
}
.container h2{
    text-align: center;
    text-decoration:underline;
    text-decoration-color: black;
    font-size: 25;
    font-family: 'Edu NSW ACT Foundation', cursive;
    margin-top: 15px;
    color: darkblue;
}
.container h3{
    font-size: 15;
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
}
.eicon{
    position: absolute;
    top: 220%;
    left: 17%;
    justify-content: space-between;
}
.bills{
    color:aqua;
    font-size: 50px; 
    margin: 20px;
}
.eicon a i{
    background-color:blue;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
}
.b{
    color:aqua;
    font-size: 50px; 
    margin: 20px;
}
.i{
    color:aqua;
    font-size: 50px; 
    margin: 20px;
}
.l{
    color:aqua;
    font-size: 50px; 
    margin: 20px;
}
.s{
    color:aqua;
    font-size: 50px; 
    margin: 20px;
}
.bi{
    color:aqua;
    font-size: 50px; 
    margin: 20px;
}
.box{
    width: 27%;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    float: left;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
    margin-left: 4%;
    margin-top: 5%;
    background-color:darkgrey;
}
.new h1{
    text-align: center;
    color:darkblue;
    text-decoration: underline;
    margin-top: 15%;
    font-family: 'Corben', cursive;
    font-size: 30px;
}
.new p{
    margin-left: 2%;
    margin-right: 1%;
    margin-top: 2%;
    font-size: 23px;
    font-family: 'Bona Nova', serif;
}
.new h2{
    text-align: center;
    color: darkblue;
    text-decoration: underline;
    margin-top: 5%;
    font-family: 'Corben', cursive;
    font-size: 40px;
}
.re{
    margin-top: 9%;
    margin-left: 45%;
    font-size: 20px;
    color: crimson;
    font-weight: 700;
}
.we h1{
    margin-top: 10%;
    text-align: center;
    font-size: 30;
    font-family: 'Redressed', cursive;
    text-decoration-color: darkblue;
    text-decoration: underline;
    color: darkblue;
}
.box2{
    width: 15%;
    margin: 5px;
    height: 50%;
    box-sizing: border-box;
    text-align: center;
    float: left;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
    margin-left: 4%;
    margin-top: 3%;
    background-color:darkgrey;
    border-radius: 10%;
}
.box2:hover{
    transform:scale(1.3);
    transition: 1s;
}
.box2 img{
    width: 200px;
}
.box2 h1{
    margin-top: 10%;
    font-size: 20;
   font-family: 'Bona Nova', serif;
   color:darkblue;
}
.us p{
    font-size: 20px;
    margin-top: 4%;
    font-family: 'Inter', sans-serif;
    margin-left: 60px;
    margin-right: 60px;
}
.why{
    width: 1000px;
    height: 500px;
    margin: 110px auto;
    position: relative;
}
.bgr{
width: 30%;
    height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    position: absolute;
    top: 4640;
    margin-left: 800px;
}
.bggr{
    width: 100%;
    height: 100%
}
.why h1{
    margin-top: 8%;
    text-align: center;
    font-family: 'Redressed', cursive;
    color: darkblue;
    text-decoration-line: underline;
}
.why p{
    font-size: 20px;
    margin-top: 5%;
    font-family: 'Rouge Script', cursive;
    margin-left: 60px;
    margin-right: 60px;
}
.why h2{
    margin-left: 5%;
    margin-top: 2%;
    font-size: 18px;
}
.why h7{
    margin-left: 5%;
    font-size: 20px;
    text-decoration-line: underline;
    color: darkblue;
}
.why h3{
    margin-left: 5%;
     margin-top: 1%;
    font-size: 18px;
}
.why h4{
    margin-left: 5%;
    margin-top: 1%;
    font-size: 18px;
}
.why h5{
    margin-left: 5%;
    margin-top: 1%;
    font-size: 18px;
}
.why h6{
    margin-left: 5%;
    margin-top: 1%;
    font-size: 18px;
}
.why img{
    margin-left: 50%;
}
.conn h1{
    font-size: 35px;
    margin-top: 5%;
    font-family: 'Rouge Script', cursive;
    margin-left: 45%;
    color:darkblue;
    text-decoration-line: underline;
}
.conn{
    display: flex;
    width: 50%;
    margin:auto;
    flex-wrap: wrap;
}
.gall img{
    width: 100%;
    border-radius: 40px;
}
.gall a{
    
    margin: 15px;
    display: none;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border: none;
    border-radius: 5px;
    width: 150px;
    padding: 6px;
    font-size: 20px;
    background-color:brown;
    color: aliceblue;
    cursor: pointer;
}
.gall a:nth-child(1){
    display:block;
}
.gall a:nth-child(2){
    display:block;
}
.mission h1{
    margin-top: 2%;
    text-align: center;
    font-family: 'Redressed', cursive;
    color: darkblue;
    text-decoration-line: underline;
}
.mission p{
    font-size: 20px;
    margin-top: 5%;
    font-family: 'Inter', sans-serif;
    margin-left: 60px;
    margin-right: 60px;
}
.vission h1{
    margin-top: 2%;
    text-align: center;
    font-family: 'Redressed', cursive;
    color: darkblue;
    text-decoration-line: underline;
}
.vission p{
    font-size: 20px;
    margin-top: 5%;
    font-family: 'Inter', sans-serif;
    margin-left: 60px;
    margin-right: 60px;
}
.choose h1{
    margin-top: 2%;
    text-align: center;
    font-family: 'Redressed', cursive;
    color: darkblue;
    text-decoration-line: underline;
}
.choose p{
    font-size: 20px;
    margin-top: 5%;
    font-family: 'Inter', sans-serif;
    margin-left: 60px;
    margin-right: 60px;
}
.bgrd{
width: 100%;
    height: 100vh;
    background: linear-gradient;
    position: absolute;
    top:auto;
    margin-top: 5%;
}
.bgrd{
    width: 100%;
    height: 100%
}
.enq{
    width: 700px;
    height: 550px;
    margin: 200px auto;
    background-color:darkgray;
    position: relative;
}
.enq h1{
    color: crimson;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border border-radius: 20px;
}
form h1{
    color:crimson;
    text-align: center;
}
form input, font textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background color:dimgray;
    font-size: 16px;
}
form button{
    padding: 15px;
    background: #ff5361;
    color: aliceblue;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}
.h1{
font-size: 70px;
    text-transform: uppercase;
    margin: 0;
}
.banner-img{
    background-image: url(galry/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    height: 80%;
    margin-top: 40%;
    width: 100%;
}
.h2{
font-size: 100px;
    text-transform: uppercase;
    margin: 0;
}
.ban-img{
    background-image: url(galry/ok.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    height: 80%;
    margin-top: 40px;
    width: 10%:
}
.footer{
    margin-top: 150px;
    width: auto;
    padding: 100px 15%;
    background: #333;
    color: #efefef;
    display: flex;
}
.footer div{
    text-align: center;
}
.social{
    flex-grow: 2;
    margin-right: -50%;
}
.social h1{
    text-align: center;
}
.footer div h1{
    font-size: 25px;
    margin-top: 1px;
    letter-spacing: 1px;
}
.footer p{
    margin-top: 1%;
}
.footer h2{
    margin-top: 5%;
}
.footer h3{
    margin-top: 5%;
}
.si{
    margin-top: 30px;
}
.si a i{
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
    margin-left: 55%;
    align-content: center;
}


/*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*//*-----------------------------------------*/
@media screen and (max-width:600px)and (min-width:380px)
{
    header{
    width:100%;
    height: 95px;
    background: #11101b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100 px;
}
    .logo{
    width:10px;
    cursor: pointer;
}
    .lbar{
    width: 100%;
    margin:0px 0px;
    padding: 10px 0;
    display: flex;
}
    .lbar img{
    height: 70px;
    width: 70px;
     margin-top: auto;
        margin-left: 0%;
    border-radius: 50%;
    border:10px;
}
    .hdngjk{
    text-align: center;
    color: aliceblue;
    padding-top:25px;
    margin-left: 30px;
}
.hdngjk h1{
    font-size: 25px;
    font-family: 'Bona Nova', serif;
}
    #mb{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    left: 80%;
    top: 100px;
    z-index: 3;
    cursor: pointer;
}
#mb img{
    width: 20px;
    margin-top: 15px;
}

    .banner{
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;
}
    .slider{
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 0;
}
    .icon{
    position: absolute;
    top: -15%;
    left: 0%;
    display:flex;
    flex-direction: column;
}
    .content{
   width: 100%;
   position: absolute;
    text-align: center;
    color: aqua;
    top:44%;
    transform: translateY(-50%);
    text-align: center;
    
}
    .content h3{
        font-size: 40px;
        margin-top: 170px;
    }
.content h1{
    font-size: 20px;
    margin-top: 50px;
    font-family: 'Akaya Kanadaka', cursive;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family: 'Akaya Kanadaka', cursive;
}
.content h2{
    font-size: 18px;
    margin-top: auto;
    font-family: 'Dancing Script', cursive;
    color:coral;
}
    .vdo{
    width: 40%;
    position:absolute;
    left: 4%;
    top: 80%;
}
    .slr{
   text-align: center;
    color:blue;
    margin-top:55%;
    padding-top:70px;
    margin-left: 6px;    
}
    .slr h1{
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-size: 15px;
    }
    .slr h2{
    font-family: 'Edu NSW ACT Foundation', cursive;
        font-size: 15px;
}
    .iinfo h1{
    font-family: 'Dancing Script', cursive;
    font-size: 17px;
    color: crimson;
}
.iinfo h2{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 15px;
    color:blue;
}
.iinfo h3{
    font-family: 'Redressed', cursive;
    font-size: 17px;
    color:black;
}
    .bgg{
        margin-top: 19%;
    width: 100%;
    height: 80%;
}
    .container{
    width: 350px;
    height: 450px;
    margin: 165px auto;
    background-color:coral;
    position: relative;
}
    .container h1{
    text-align: center;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
.container h2{
    text-align: center;
    text-decoration:underline;
    text-decoration-color: black;
    font-size: 15px;
    font-family: 'Edu NSW ACT Foundation', cursive;
    margin-top: 15px;
    color: darkblue;
}
.container h3{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
}
    .box{
    width: 20%;
    margin: 30px;
    box-sizing: border-box;
    text-align: center;
    float: left;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
    margin-left: 4%;
    margin-top: 5%;
    background-color:darkgrey;
    }
    .box h1{ 
    font-size: 13px;
    }
    .box img{
        width: 70%;
        height: 20%;
    }
    .new h1{
    text-align: center;
    color:darkblue;
    text-decoration: underline;
    margin-top: 15%;
    font-family: 'Corben', cursive;
    font-size: 17px;
}
.new p{
    margin-left: 2%;
    margin-right: 1%;
    margin-top: 2%;
    font-size: 15px;
    font-family: 'Bona Nova', serif;
}
.new h2{
    text-align: center;
    color: darkblue;
    text-decoration: underline;
    margin-top: 5%;
    font-family: 'Corben', cursive;
    font-size: 17px;
}
.re{
    margin-top: 9%;
    margin-left: 35%;
    font-size: 14px;
    color: crimson;
    font-weight: 700;
}
    .we h1{
    margin-top: 60%;
    text-align: center;
    font-size: 13px;
    font-family: 'Redressed', cursive;
    text-decoration-color: darkblue;
    text-decoration: underline;
    color: darkblue;
}
    .box2{
    width: 24%;
    margin: 1px;
    height: 20%;
    box-sizing: border-box;
    text-align: center;
    float: left;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
    margin-left: 8%;
    margin-top: 5%;
    background-color:darkgrey;
    border-radius: 10%;
}
    .box2 img{
    width: 80px;
}
.box2 h1{
    margin-top: 10%;
    font-size: 14px;
   font-family: 'Bona Nova', serif;
   color:darkblue;
}
.banner-img{
    background-image: url(galry/about.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    height: 30%;
    margin-top: 100%;
    width: 100%;
}
    .us p{
    font-size: 13px;
    margin-top: 4%;
    font-family: 'Inter', sans-serif;
    margin-left: 60px;
    margin-right: 60px;
}
    .mission h1{
    margin-top: 2%;
    text-align: center;
    font-family: 'Redressed', cursive;
    color: darkblue;
    text-decoration-line: underline;
        font-size: 16px;
}
.mission p{
    font-size: 14px;
    margin-top: 5%;
    font-family: 'Inter', sans-serif;
    margin-left: 60px;
    margin-right: 60px;
}
.vission h1{
    margin-top: 2%;
    text-align: center;
    font-family: 'Redressed', cursive;
    color: darkblue;
    text-decoration-line: underline;
    font-size: 16px;
}
.vission p{
    font-size: 14px;
    margin-top: 5%;
    font-family: 'Inter', sans-serif;
    margin-left: 60px;
    margin-right: 60px;
}
.choose h1{
    margin-top: 2%;
    text-align: center;
    font-family: 'Redressed', cursive;
    color: darkblue;
    text-decoration-line: underline;
    font-size: 16px;
}
.choose p{
    font-size: 14px;
    margin-top: 5%;
    font-family: 'Inter', sans-serif;
    margin-left: 60px;
    margin-right: 60px;
}
    .h2{
font-size: 90px;
    text-transform: uppercase;
    margin: 0;
}
.ban-img{
    background-image: url(galry/R.jpeg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    height: 30%;
    margin-top: 0px;
}
    .conn h1{
    font-size: 16px;
    margin-top: 0%;
    font-family: 'Rouge Script', cursive;
    margin-left: 45%;
    color:darkblue;
    text-decoration-line: underline;
}
    .gall{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 10fr));
    grid-gap: 10px;
    margin-top: 5%;
}
    .gall img{
    width: 150%;
    border-radius: 40px;
    height: 100%;
}
    .gall img{
    width: 200%;
    border-radius: 40px;
        margin-left: -45%;
}
.gall a{
    
    margin: 15px;
    display: none;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border: none;
    border-radius: 5px;
    width: 150px;
    padding: 6px;
    font-size: 20px;
    background-color:brown;
    color: aliceblue;
    cursor: pointer;
}
.gall a:nth-child(1){
    display:block;
}
.gall a:nth-child(2){
    display:block;
}
    .bgrd{
width: 100%;
    height: 100vh;
    background: linear-gradient;
    position: absolute;
    top:auto;
    margin-top: 10%;
}
    .bgrd{
    width: 100%;
    height: 100%;
}
.enq{
    width: 400px;
    height: 500px;
    margin: 150px auto;
    background-color:darkgray;
    position: relative;
}
form{
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border border-radius: 20px;
}
form h1{
    color:crimson;
    text-align: center;
    font-size: 24px;
}
form input, font textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background color:dimgray;
    font-size: 13px;
}
form button{
    padding: 15px;
    background: #ff5361;
    color: aliceblue;
    font-size: 17px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}
    .icon{
    position: absolute;
    top: 10%;
    left: 7%;
    display:flex;
    flex-direction: column;
}
.icon a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px;
    font-size: 18px;
    font-family: 'Oswald' , sans-serif;
    text-align: right;
    border-radius: 0px 50px 50px 0px;
    transform: translate(-133px, 0px);
    transition: all 1s;
}
.icon a:hover{
    transform: translate(0px,0px);
}
.icon a i{
    margin-left: 20px;
    background-color: white;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}
}
}
.footer{
    margin-top: 50px;
    width: auto;
    padding: 10px 5%;
    background: #333;
    color: #efefef;
    display: flex;
}
.footer div{
    text-align: left;
    margin-left: -10%;
}
.social{
    flex-grow: 2;
    margin-right: -12%;
}
.social h1{
    margin-left: 20px;
}
.footer div h1{
    font-size: 20px;
    margin-top: 1px;
    letter-spacing: 1px;
}
.footer p{
    font-size: 16px;
    margin-top: 1%;
}
.footer h2{
    margin-top: 5%;
}
.footer h3{
    margin-top: 5%;
}
.si{
    margin-top: 30px;
}
.si i{
    font-size: 20px;
    margin: 10px;
    margin-left: 60px;
    display: flex;
    cursor: pointer;
}
.fb{
    color:antiquewhite;
}
.twitter{
    color:antiquewhite;
    }
.insta{
    color:antiquewhite;
    }
.whts{
    color:antiquewhite;
    }
.read{
    margin-top: 9%;
    margin-left: 36%;
    font-size: 90%;
    color: crimson;
    font-weight: 700;
}
.what h1{
    text-align: center;
    color: darkblue;
    text-decoration: underline;
    margin-top: 15%;
    font-family: 'Corben', cursive;
    font-size: 17px;
}
.what p{
    margin-left: 2%;
    margin-right: 1%;
    margin-top: 2%;
    font-size: 15px;
    font-family: 'Bona Nova', serif;
}
.what h2{
    text-align: center;
    color: darkblue;
    text-decoration: underline;
    margin-top: 5%;
    font-family: 'Corben', cursive;
    font-size: 17px;
}
/*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*//*--------------------------------------------*/
@media screen and (max-width:379px)and (min-width:0px)
{
    header{
    width:100%;
    height: 95px;
    background: #11101b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100 px;
}
    .logo{
    width:10px;
    cursor: pointer;
}
    .lbar{
    width: 100%;
    margin:0px 0px;
    padding: 10px 0;
    display: flex;
}
    .lbar img{
    height: 70px;
    width: 70px;
     margin-top: auto;
        margin-left: 0%;
    border-radius: 50%;
    border:10px;
}
    .hdngjk{
    text-align: center;
    color: aliceblue;
    padding-top:25px;
    margin-left: 30px;
}
.hdngjk h1{
    font-size: 25px;
    font-family: 'Bona Nova', serif;
}
    #mb{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    left: 75%;
    top: 100px;
    z-index: 3;
    cursor: pointer;
}
#mb img{
    width: 20px;
    margin-top: 15px;
}

    .banner{
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;
}
    .slider{
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 0;
}
    .icon{
    position: absolute;
    top: -15%;
    left: 0%;
    display:flex;
    flex-direction: column;
}
    .content{
   width: 100%;
   position: absolute;
    text-align: center;
    color: aqua;
    top:44%;
    transform: translateY(-50%);
    text-align: center;
    
}
    .content h3{
        font-size: 40px;
        margin-top: 170px;
    }
.content h1{
    font-size: 20px;
    margin-top: 50px;
    font-family: 'Akaya Kanadaka', cursive;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family: 'Akaya Kanadaka', cursive;
}
.content h2{
    font-size: 18px;
    margin-top: auto;
    font-family: 'Dancing Script', cursive;
    color:coral;
}
    .vdo{
    width: 40%;
    position:absolute;
    left: 4%;
    top: 75%;
}
    .slr{
   text-align: center;
    color:blue;
    margin-top:55%;
    padding-top:70px;
    margin-left: 6px;    
}
    .slr h1{
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-size: 15px;
    }
    .slr h2{
    font-family: 'Edu NSW ACT Foundation', cursive;
        font-size: 15px;
}
    .iinfo h1{
    font-family: 'Dancing Script', cursive;
    font-size: 15px;
    color: crimson;
}
.iinfo h2{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 15px;
    color:blue;
}
.iinfo h3{
    font-family: 'Redressed', cursive;
    font-size: 15px;
    color:black;
}
    .bgg{
        margin-top: 19%;
    width: 100%;
    height: 80%;
}
    .container{
    width: 350px;
    height: 470px;
    margin: 165px auto;
    background-color:coral;
    position: relative;
}
    .container h1{
    text-align: center;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
.container h2{
    text-align: center;
    text-decoration:underline;
    text-decoration-color: black;
    font-size: 15px;
    font-family: 'Edu NSW ACT Foundation', cursive;
    margin-top: 15px;
    color: darkblue;
}
.container h3{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
}
    .box{
    width: 20%;
    margin: 30px;
    box-sizing: border-box;
    text-align: center;
    float: left;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
    margin-left: 4%;
    margin-top: 5%;
    background-color:darkgrey;
    }
    .box h1{ 
    font-size: 15px;
    }
    .box img{
        width: 70%;
        height: 20%;
    }
     .new h1{
    text-align: center;
    color:darkblue;
    text-decoration: underline;
    margin-top: 15%;
    font-family: 'Corben', cursive;
    font-size: 17px;
}
.new p{
    margin-left: 2%;
    margin-right: 1%;
    margin-top: 2%;
    font-size: 15px;
    font-family: 'Bona Nova', serif;
}
.new h2{
    text-align: center;
    color: darkblue;
    text-decoration: underline;
    margin-top: 5%;
    font-family: 'Corben', cursive;
    font-size: 17px;
}
.re{
    margin-top: 9%;
    margin-left: 35%;
    font-size: 14px;
    color: crimson;
    font-weight: 700;
}
    .we h1{
    margin-top: 60%;
    text-align: center;
    font-size: 15;
    font-family: 'Redressed', cursive;
    text-decoration-color: darkblue;
    text-decoration: underline;
    color: darkblue;
}
    .box2{
    width: 23%;
    margin: 1px;
    height: 22%;
    box-sizing: border-box;
    text-align: center;
    float: left;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
    margin-left: 10%;
    margin-top: 5%;
    background-color:darkgrey;
    border-radius: 10%;
}
    .box2 img{
    width: 80px;
}
.box2 h1{
    margin-top: 10%;
    font-size: 14px;
   font-family: 'Bona Nova', serif;
   color:darkblue;
}
.banner-img{
    background-image: url(galry/about.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    height: 30%;
    margin-top: 450px;
    width: 100%;
}
    .us p{
    font-size: 13px;
    margin-top: 4%;
    font-family: 'Rouge Script', cursive;
    margin-left: 60px;
    margin-right: 60px;
}
    .mission h1{
    margin-top: 2%;
    text-align: center;
    font-family: 'Redressed', cursive;
    color: darkblue;
    text-decoration-line: underline;
        font-size: 14px;
}
.mission p{
    font-size: 13px;
    margin-top: 5%;
    font-family: 'Rouge Script', cursive;
    margin-left: 60px;
    margin-right: 60px;
}
.vission h1{
    margin-top: 2%;
    text-align: center;
    font-family: 'Redressed', cursive;
    color: darkblue;
    text-decoration-line: underline;
    font-size: 14px;
}
.vission p{
    font-size: 13px;
    margin-top: 5%;
    font-family: 'Rouge Script', cursive;
    margin-left: 60px;
    margin-right: 60px;
}
.choose h1{
    margin-top: 2%;
    text-align: center;
    font-family: 'Redressed', cursive;
    color: darkblue;
    text-decoration-line: underline;
    font-size: 14px;
}
.choose p{
    font-size: 13px;
    margin-top: 5%;
    font-family: 'Rouge Script', cursive;
    margin-left: 60px;
    margin-right: 60px;
}
    .h2{
font-size: 90px;
    text-transform: uppercase;
    margin: 0;
}
.ban-img{
    background-image: url(galry/R.jpeg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    height: 30%;
    margin-top: 40px;
}
    .conn h1{
    font-size: 16px;
    margin-top: 10%;
    font-family: 'Rouge Script', cursive;
    margin-left: 45%;
    color:darkblue;
    text-decoration-line: underline;
}
   
    .bgrd{
width: 100%;
    height: 100vh;
    background: linear-gradient;
    position: absolute;
    top:auto;
    margin-top: 10%;
}
    .bgrd{
    width: 100%;
    height: 100%;
}
        .gall img{
    width: 200%;
    border-radius: 40px;
        margin-left: -45%;
}
.gall a{
    
    margin: 15px;
    display: none;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border: none;
    border-radius: 5px;
    width: 150px;
    padding: 6px;
    font-size: 20px;
    background-color:brown;
    color: aliceblue;
    cursor: pointer;
}
.gall a:nth-child(1){
    display:block;
}
.gall a:nth-child(2){
    display:block;
}
.enq{
    width: 350px;
    height: 500px;
    margin: 150px auto;
    background-color:darkgray;
    position: relative;
}
form{
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border border-radius: 20px;
}
form h1{
    color:crimson;
    text-align: center;
    font-size: 24px;
}
form input, font textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background color:dimgray;
    font-size: 13px;
}
form button{
    padding: 15px;
    background: #ff5361;
    color: aliceblue;
    font-size: 17px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}
    .icon{
    position: absolute;
    top: 10%;
    left: 0%;
    display:flex;
    flex-direction: column;
}
.icon a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px;
    font-size: 18px;
    font-family: 'Oswald' , sans-serif;
    text-align: right;
    border-radius: 0px 50px 50px 0px;
    transform: translate(-133px, 0px);
    transition: all 1s;
}
.icon a:hover{
    transform: translate(0px,0px);
}
.icon a i{
    margin-left: 20px;
    background-color: white;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}
}
}
.footer{
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background: #333;
    color: #efefef;
}
.read{
    margin-top: 9%;
    margin-left: 36%;
    font-size: 90%;
    color: crimson;
    font-weight: 700;
}
.what h1{
    text-align: center;
    color: darkblue;
    text-decoration: underline;
    margin-top: 15%;
    font-family: 'Corben', cursive;
    font-size: 17px;
}
.what p{
    margin-left: 2%;
    margin-right: 1%;
    margin-top: 2%;
    font-size: 15px;
    font-family: 'Bona Nova', serif;
}
.what h2{
    text-align: center;
    color: darkblue;
    text-decoration: underline;
    margin-top: 5%;
    font-family: 'Corben', cursive;
    font-size: 17px;
}
